<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Credits.aspx.cs" Inherits="Ordertaker.Credits" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        Ang nagdevelop ng site na ito ay isang hamak na empleyado lamang ng Networld na
        walang maatupag kaya napagtripang gawin ito.<br />
        <br />
        Engr. Enrico Magboo, CCNA<br />
        ECE 0044212<br />
        CISCO 12244219<br />
        <br />
        <asp:Image ID="Image1" runat="server" Height="900px" ImageUrl="~/images/bongga.jpg"
            Width="1200px" /><br />
        <br />
        <br />
        <br />
        <br />
        At heto naman ang kabrainstrom (especially sa checkbox) kong si Bergs na ang hobby
        ay matulog...<br />
        <br />
        Engr. Bergson Valencia<br />
        ECE 0052579<br />
        <br />
        <asp:Image ID="Image2" runat="server" Height="900px" ImageUrl="~/images/panalo.jpg"
            Width="1200px" /><br />
        <br />
        <br />
        <br />
        <br />
        <asp:LinkButton ID="LinkButton1" runat="server" PostBackUrl="~/Default.aspx" Font-Size="X-Large" Height="27px" Width="91px">Awat na!</asp:LinkButton><br />
    
    </div>
    </form>
</body>
</html>
