<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Finish.aspx.cs" Inherits="Ordertaker.Finish" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <br />
        <br />
        <table>
            <tr>
                <td style="width: 42px">
                </td>
                <td style="width: 274px">
                    <asp:Label ID="LabelThankYou" runat="server" Width="286px"></asp:Label></td>
                <td style="width: 68px">
                </td>
            </tr>
            <tr>
                <td style="width: 42px">
                </td>
                <td style="width: 274px">
        Your order has been saved to database</td>
                <td style="width: 68px">
                </td>
            </tr>
            <tr>
                <td style="width: 42px">
                </td>
                <td style="width: 274px">
                    Autoresponse email will also be sent.</td>
                <td style="width: 68px">
                </td>
            </tr>
            <tr>
                <td style="width: 42px">
                </td>
                <td style="width: 274px">
                    &nbsp;</td>
                <td style="width: 68px">
                </td>
            </tr>
            <tr>
                <td style="width: 42px">
                </td>
                <td style="width: 274px">
                    <asp:LinkButton ID="LinkButtonLogout" runat="server" OnClick="LinkButtonLogout_Click">Logout and View Order</asp:LinkButton></td>
                <td style="width: 68px">
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        </div>
    </form>
</body>
</html>
